*{
	margin: 0;
	padding: 0;
 }

body
{
	font-family:  sans-serif;
	color: red;
}

#menu ul
{
	background: #1F568B;
	list-style-type: none;
	text-align: center;
}

#menu li
{
	color: #f1f1f1;
	display: inline-block;
	width: 120px;
	height: 60px;
	line-height: 60px;
	margin-left: 6px;
}

		 

#menu a 
{
	text-decoration: none;
	color: #fff;
	display: block;
}

#menu a:hover 
{
	background: #F1F1F1;
	color: red;
}

.sub-menu li
{
	display: none;
}
#menu li
{
 	position: relative;
}

.sub-menu
{
	display: none;
	position: absolute;
}

#menu li:hover .sub-menu
{
 	display: block;
}





